@import '../../../../styles/variables.module.scss';

.contentWrapper {
  margin-top: 83px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet-large {
    margin-top: 53px;
  }
}
